<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>

        </tr>
    </thead>
    <tbody>
        {{#each project}}
        <tr>
            <th scope="row">1</th>
            <td>{{name}}</td>
            <td>{{description}}</td>
        </tr>

        {{/each}}

        <tr>
            <th scope="row">2</th>
            {{#each developers}}
            <td>{{this.email}}</td>
            {{/each}}
        </tr>





    </tbody>
</table>